.submit {
    color: #000;
    cursor: pointer;
    background-color: #c3c2c2;
    border: none;
    border-radius: 5px;
    padding: 12px 13px;
    font-size: 20px;
    position: relative;
}

.load-more {
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    background-color: #4056b4;
    border: none;
    border-radius: 5px;
    padding: 13px 50px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 5px;
}