@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.is-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-title {
    margin-top: 30px;
    text-align: center;
}

img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
}