.head-block {
    background-color: #4056b4;
}

.search-form {
    text-align: center;
    padding: 20px;
}

.input-form {
    width: 700px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 13px;
    font-size: 19px;
    outline: none;
}