.gallery {
    padding: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.photo-card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

img {
    width: 450px;
    height: 350px;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.437);
    border-top: none;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}